<h2>MenuOpen</h2>
<msgqueue/>
<form  method="post">
<select name=xpathOption >
	<foreach for="$arrXpath" key='sKeyPath' item='xpathselect'>
		<option value="{=$xpathselect}" >{=$xpathselect}</option>
	</foreach>
</select><br/><br/>
title:<widget id="title"/><br/>
depth:<widget id="depth"/><br/>
link:<widget id="link"/><br/>
active:<widget id="active"/><br/>
<widget id="hide_ItemId"/>
<widget id="hide_depth"/>
<widget id="hide_link"/>
<widget id="hide_active"/>
<widget id="hide_controllername"/>
<widget id="hide_viewpath"/>
<widget id="hide_widgetid"/>
<input type="submit" value="保存" />
</form>