<css src="menuediter:css/style.css" />
<h1>菜单编辑</h1>
<msgqueue/>
<script type="text/javascript">
	
	function confirmDel(){
		if(!confirm("确认删除菜单项目吗")){
			return false;
		}
	}
	
	function itemEdit(xPath1)
	{
		var xPath = xPath1;
		var json = {=$sJsonSetting};
		document.getElementById('edit_title').value=json[xPath]['title'];
		document.getElementById('edit_link').value=json[xPath]['link'];
		document.getElementById('edit_query').value=json[xPath]['query'];
		document.getElementById('hide_flag_edit_item').value=1;
		document.getElementById('hide_item_controllerName').value=json['controllername'];
		document.getElementById('hide_item_viewPath').value=json['viewpath'];
		document.getElementById('hide_item_menuId').value=json['menuid'];
		document.getElementById('hide_item_xpath').value=xPath1;
		document.getElementById('itemEdit').style.display="";
		document.getElementById('xO').value=xPath1;
		document.getElementById('itemCreate').style.display="none";
	}
	
	function itemCreate(xPath1)
	{
		var xPath = xPath1;
		var json = {=$CreateJson};
		document.getElementById('create_item_id').value=json[xPath];
		document.getElementById('hide_flag_create_item').value=2;
		document.getElementById('hide_item_create_xpath').value=xPath1;
		document.getElementById('hide_create_item_controllerName').value=json['controllername'];
		document.getElementById('hide_create_item_viewPath').value=json['viewpath'];
		document.getElementById('hide_create_item_menuId').value=json['menuid'];
		document.getElementById('itemCreate').style.display="";
		document.getElementById('itemEdit').style.display="none";
	}
	
</script>
<div>
	<div class="mo-left">
	<form method="post">
		<table>
		<tbody>
		<tr><th colspan="2">控制器类名：</th></tr>
		<tr><td colspan="2"><widget id="controller_name" attr.style="width:100%"/></td></tr>
		<tr><th>视图路径：</th><td><widget id="view_Xpath" attr.style="width:40%"/></td></tr>
		<tr><th>菜单ID：</th><td><widget id="menu_id" attr.style="width:40%"/></td></tr>
		<tr><th colspan="2"><input type="submit" class="coresystem-form-button" value="打开菜单" /></th></tr>
		</tbody>
		</table>
	</form>
	<div class="mo-history">{=$sHistory}</div>
	</div>
	
	<div class="mo-middle">
	<if"$sMenu">
		{=$sMenu}
		{=$sClear}
	</if>
	
	
	</div>
	<div class="mo-right">
	<div id="itemCreate" style="display:none;" class="mo-right-item">
	<h2>菜单项新建</h2>
		<form method="post">
			<table>
			<tbody>
			<tr><th width="66px">项目ID：</th><td><widget id="create_item_id" /></td></tr>
			<tr><th>标题：</th><td><widget id="create_title" /></td></tr>
			<tr><th>链接：</th><td><widget id="create_link"/></td></tr>
			
			<tr class="intro"><th>说明：</th><td>选中条件的值如果和当前浏览器中的url值相符，则此菜单项将会被一个亮度条标记。<br />
				选中条件可以是多个值，每个值之间用换行间隔区分。
			</td></tr>
			<tr class="intro"><th>选中条件：</th><td><widget id="create_query" attr.style="width:70%;height:100px"/>
			<widget id="hide_flag_create_item"/>
			<widget id="hide_create_item_controllerName"/>
			<widget id="hide_create_item_viewPath"/>
			<widget id="hide_create_item_menuId"/>
			<widget id="hide_item_create_xpath"/></td></tr>
			<tr><th colspan="2"><input type="submit" class="coresystem-form-button" value="保　存" /></th></tr>
			</tbody>
			</table>
		</form>
	</div>
	
	<div id="itemEdit" style="display:none;" class="mo-right-item">
	<h2>菜单项编辑</h2>
		<form method="post">
			<table>
			<tbody>
			<tr>
				<td colspan="2">
					<if "{=$arrXpath}">
						<select name=xpathOption id="xO">
							<foreach for="$arrXpath" key='sKeyPath' item='xpathselect'>
								<option value="{=$sKeyPath}">{=$xpathselect}</option>
							</foreach>
						</select>
					</if>
				</td>
			</tr>
			<tr><th width="66px">标题：</th><td><widget id="edit_title" /></td></tr>
			<tr><th>链接：</th><td><widget id="edit_link" attr.style="width:80%"/></td></tr>
			<tr class="intro"><th>说明：</th><td>选中条件的值如果和当前浏览器中的url值相符，则此菜单项将会被一个亮度条标记。<br />
				选中条件可以是多个值，每个值之间用换行间隔区分。
			</td></tr>
			<tr class="intro"><th>选中条件：</th><td><widget id="edit_query" attr.style="width:70%;height:100px"/>
			<widget id="hide_flag_edit_item"/>
			<widget id="hide_item_controllerName"/>
			<widget id="hide_item_viewPath"/>
			<widget id="hide_item_menuId"/>
			<widget id="hide_item_xpath"/></td></tr>
			<tr><th colspan="2"><input type="submit" class="coresystem-form-button" value="保　存" /></th></tr>
			</tbody>
			</table>
		</form>
	</div>
	</div>
</div>

