<css src="menuediter:css/style.css" />
<h2>MenuOpen</h2>
<msgqueue/>
<script type="text/javascript">
	function confirmDel(){
		if(!confirm("确认删除菜单项目吗")){
			return false;
		}
	}
	
	function itemEdit(xPath1)
	{
		var xPath = xPath1;
		var json = {=$sJsonSetting};
		document.getElementById('title').value=json[xPath]['title'];
		document.getElementById('depth').value=json[xPath]['depth'];
		document.getElementById('link').value=json[xPath]['link'];
		document.getElementById('active').value=json[xPath]['active'];
		document.getElementById('hide_flag_edit_item').value=1;
		document.getElementById('hide_item_controllerName').value=json['controllername'];
		document.getElementById('hide_item_viewPath').value=json['viewpath'];
		document.getElementById('hide_item_menuId').value=json['menuid'];
		document.getElementById('hide_item_xpath').value=xPath1;
		document.getElementById('itemEdit').style.display="";
		document.getElementById('itemCreate').style.display="none";
	}
	
	function itemCreate(xPath1)
	{
		var xPath = xPath1;
		document.getElementById('hide_flag_create_item').value=2;
		document.getElementById('hide_item_create_xpath').value=xPath1;
		document.getElementById('itemCreate').style.display="";
		document.getElementById('itemEdit').style.display="none";
	}
	
</script>
<div>
	<div class="mo-left">
	<form method="post">
		<p>控制器： <widget id="controller_name"/></p>
		<p>视图路径：<widget id="viewXpath"/></p>
		<p>控件ID： <widget id="menu_id"/></p>
		<p><input type="submit" class="coresystem-form-button" value="打　开" /></p>
	</form>
	<div class="mo-history">{=$sHistory}</div>
	</div>
	
	<div class="mo-middle">
	{=$sMenu}
	{=$sClear}
	</div>
	<div class="mo-right">
	<div id="itemCreate" style="display:none;" class="mo-right-item">
	<h2>项目新建</h2>
		<form method="post">
			<p>项目ID：<widget id="create_item_id" /></p>
			<p>标题:<widget id="create_title" /></p>
			<p>层级数量:<widget id="create_depth"/></p>
			<p>链接:<widget id="create_link"/></p>
			<p>激活:<widget id="create_active"/></p>
			<widget id="hide_flag_create_item"/>
			<widget id="hide_create_item_controllerName"/>
			<widget id="hide_create_item_viewPath"/>
			<widget id="hide_create_item_menuId"/>
			<widget id="hide_item_create_xpath"/>
			<input type="submit" class="coresystem-form-button" value="保　存" />
		</form>
	</div>
	
	<div id="itemEdit" style="display:none;" class="mo-right-item">
	<h2>项目编辑</h2>
		<form method="post">
			<p><select name=xpathOption >
				<foreach for="$arrXpath" key='sKeyPath' item='xpathselect'>
					<option value="{=$sKeyPath}" >{=$xpathselect}</option>
				</foreach>
			</select>
			</p>
			<p>标题:<widget id="title" /></p>
			<p>层级数量:<widget id="depth"/></p>
			<p>链接:<widget id="link"/></p>
			<p>激活:<widget id="active"/></p>
			<widget id="hide_flag_edit_item"/>
			<widget id="hide_item_controllerName"/>
			<widget id="hide_item_viewPath"/>
			<widget id="hide_item_menuId"/>
			<widget id="hide_item_xpath"/>
			<input type="submit" class="coresystem-form-button" value="保　存" />
		</form>
	</div>
	</div>
</div>

