/*Menu open*/
.mo-left{ float:left; width:19%;margin-right:1%;}
.mo-left p{margin-bottom:10px;}
.mo-left .coresystem-form-button,.mo-right .coresystem-form-button{margin-top:0;}

.mo-history{ background:#f2f2f2;padding:10px;border-top:1px solid #e9e9e9;}
.mo-history li{ line-height:150%; padding-left:15px; background:url(../images/history.gif) no-repeat 3px center;}

.mo-middle{ float:left; width:49%;margin-right:1%; border-left:1px solid #eee;}
.mo-middile-ul{padding-left:10px; margin-left:10px; }
.mo-middile-ul li{ line-height:22px;}
.mo-middile-ul li:hover{ background:#F7F3DF;}
.mo-middile-ul span{margin-right:10px;display:inline-block; min-width:100px; text-align:left;}
.mo-middile-ul em{ display:inline-block; float:right}
.mo-middile-ul a{ font-size:12px; color:#999;padding:0 6px 0 20px;background:url(../images/mo-icon.gif) no-repeat}
.mo-middile-ul a:hover{ color:#09c;border-radius:3px;background:url(../images/mo-icon.gif) no-repeat}
.mo-middile-ul a img{margin-right:3px; margin-top:-2px;}


.mo-middile-ul li span{ font-size:18px; color:#BB985A;}
.mo-middile-ul ul li span{font-size:16px;}
.mo-middile-ul ul ul li span{ font-size:14px;}
.mo-middile-ul ul ul ul li span{font-size:12px;}

.mo-middile-ul ul {border-left:1px solid #C90;margin-bottom:15px;}
.mo-middile-ul ul ul{border-left:0px solid #eee; margin-bottom:0;} 

a.mo-new{ background-position:0 -124px}
a:hover.mo-new{ background-position:0 -24px}
a.mo-del{ background-position:0 -104px;}
a:hover.mo-del{ background-position:0 -4px}
a.mo-edit{ background-position:0 -144px}
a:hover.mo-edit{ background-position:0 -44px}
a.mo-up{ background-position:0 -164px}
a:hover.mo-up{ background-position:0 -64px}
a.mo-down{ background-position:0 -184px}
a:hover.mo-down{ background-position:0 -84px;}


a.mo-clear{ display:block; text-align:center;width: 85px;height: 28px; line-height: 28px;overflow: hidden;background: url(../images/form-btn.jpg) no-repeat scroll 0 0;color:#666;font-size: 14px;margin:10px;}
a:hover.mo-clear{ background-position:-85px 0; text-decoration:none; color:#fff;}

.mo-right{ float: left; width:29%;border-left:1px solid #eee}
.mo-right p{margin-bottom:10px;}
.mo-right-item{padding:0 0 10px 10px;}